# Ignore node_modules in backend and frontend directories
/backend/node_modules
/frontend/node_modules

# Ignore package-lock.json files in backend and frontend directories
/backend/package-lock.json
/frontend/package-lock.json
